MONGO_URI=mongodb+srv://navya:<password>@cluster0.typ842w.mongodb.net/studentDB?retryWrites=true&w=majority
JWT_SECRET=supersecretkey

# Replace <password> with your actual MongoDB password before using this .env file. 8aXlJtv94sz0j709